@model IEnumerable<BusinessServiceTracking.Models.BusinessService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCentre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCentre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BSID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BSID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BSID })
        </td>
    </tr>
}

</table>
