@model BusinessServiceTracking.Models.BusinessUnit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusinessUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCentre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCentre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
