@model IEnumerable<BusinessServiceTracking.Models.TechnologyService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceOwner)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceOwner)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TechServiceID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TechServiceID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TechServiceID })
            </td>
        </tr>
    }

</table>

@Html.Label("TechServices")
//@((ViewBag.TechServiceCost))

@foreach (var str in ViewBag.TechServiceCost)
{
    @Html.Raw(str); <br />
}

@for (int i = 0; i <= 2; i++)
{
    @Html.Raw(ViewBag.TechServiceCost[i]) <br />
}
