@model IEnumerable<BusinessServiceTracking.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessUnit.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnit.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EMPID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EMPID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EMPID })
        </td>
    </tr>
}

</table>


